.Home img{

   width: 100%;
   height: 590px;
   margin-top: 0px;
   
}

.App {
  text-align: center;
  background-color: #7b7d80;
 
 
}
.card-container{
  text-align: center;
  padding-left: 250px;
  background-color: #a1b8ac;
  
}
.card-container Button{
  padding: 5px;
  margin: 10px;
  background-color: #377eca;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer{
  padding: 15px;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 20px 18px;
  background-color: #8fdfdf77; 
}
.link{
  color: antiquewhite;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 800;
 }
 
 .active{
   background-color: #61dafb;
   color: #282c34;
   padding: 0px 10px ;
 }

 

.logout-btn {
  padding: 8px;
  width: 80px;
  background-color: #f5a988;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #333;
  color: #fff;
}

 .Home1 h2{
      color: #2e4670;
      background-color: aliceblue;
      width: 550px;
      padding: 10px;
 }
 .Home1 button{
  width: 190px;
  background-color: #8ed07a;
  font-size: 15px;
  padding: 6px;
  border: none;
  cursor: pointer;
  
 }
 .card-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #a6dee4;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 300px; 
}
.about-us {
  /* max-width: 900px; */
  width: 100%;
  margin: 0 auto;
  padding: 2px 0px ;
  background-color: #aec6df;
}

.about-us h1,h2{
  text-align: center;
  margin-bottom: 20px;
}

.main {
  display: flex;
  justify-content: center; 
  gap: 20px;
}



.person img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-right: 60px;
  margin-left: 60px;
  padding: 0px; 
}

.main h1{
  color:#d18e29;
}

.container {
  width: 100%;
  
  display: flex;
  justify-content: center;
  padding: 80px; 
}
.login-forgot a{
  padding: 5px;
  margin: 15px;
}

.contact-box {
  background-color: rgba(169, 227, 171, 0.8);
  padding: 20px 40px;
  border-radius: 10px;
  height: 400px;
}

.contact-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-box button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button {
  
  width: 150px;
}


.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 60px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 6.5%;
  padding-bottom: 200px;
  background-color: #f9f9f9;
  
}

.login-container h2 {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form .radio-buttons {
  margin-bottom: 15px;
}

.login-form .radio-buttons label {
  margin-right: 10px;
}

.login-form .submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  

}

.login-form .submit-button:hover {
  background-color: #0056b3;
} 




.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.hotel-details-container {
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.hoteldetails1 {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}


.date1 {
  margin-bottom: 20px;
}

.Checkin,
.Checkout {
  display: inline-block;
  margin-right: 20px;
}

.Checkin label,
.Checkout label {
  font-weight: bold;
}


.room-details {
  margin-bottom: 20px;
}

.room-details p {
  margin: 15px 0;
  font-size: 16px;
}

.hoteldetails1 img{
  width: 450px;
 }



.num-members-dropdown {
  margin-bottom: 20px;
}

.num-members-dropdown label {
  font-weight: bold;
}

.num-members-dropdown select {
  padding: 5px;
  font-size: 10px;
  border-radius: 10px;
  width: 50px;
  
}

/* BOOK NOW button styles */
.book-now-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-now-button:hover {
  background-color: #45a049;
}


.payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  margin: 5px;
 
}

.room-type {
  font-size: 24px;
  font-weight: bold;
}

.user-details, .days-total {
  flex-grow: 1;
  margin: 10px;
 
}

.user-details p, .days-total p {
  margin: 20px ;

}

.payment-page {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room-type {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.payment-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-details,
.days-total {
  flex: 1;
}

.user-details p,
.days-total p {
  margin: 5px 0;
}

.days-total {
  text-align: right;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.card-details label {
  margin-bottom: 5px;
}

.card-number input,
.expiry-cvv input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.expiry-cvv {
  display: flex;
  justify-content: space-between;
}

.expiry-cvv div {
  flex: 1;
  margin-right: 10px;
}

.expiry-cvv div:last-child {
  margin-right: 0;
}

.pay-now-btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pay-now-btn:hover {
  background-color: #45a049;
}

/* CSS for SignupForm component */

.signup-container {
  max-width: 400px;
  margin-top: 80px;
  margin-left: 500px;
  margin-bottom: 40px;
  padding: 60px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 50px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 7px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

/* CSS for Bookings component */

.bookings-table {
  width: 100%;
  border-collapse: collapse;
}

.bookings-table th, .bookings-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.bookings-table th {
  background-color: #ecd172;
}

.bookings-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bookings-table tr:hover {
  background-color: #ddd;
}

/* footer */

.Footer {
  background-color: #3d2e2e41;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* #bodylogin{
  background-color: #135194;
 
} */


